# Combining Data

Practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [15]:
import pandas as pd


# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=3)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=3)

# TODO: remove the 'Unnamed:62' column from each data set
df_rural = df_rural.drop(labels='Unnamed: 62', axis=1)
df_electricity = df_electricity.drop(labels='Unnamed: 62', axis=1)

# TODO: combine the two data sets together using the concat method
# In other words, all of the rows of df_rural will come first
# followed by all the rows in df_electricity. This is possible to do
# because they both have the same column names.

joined_df = pd.concat([df_rural, df_electricity],axis=1,join='outer')

# Exercise 2 (Challenge)

This exercise is more challenging.

Combine the two datas in the csv file together so that the output looks like the following:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [16]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value

df_rural = df_rural.melt(id_vars=['Country Name', 'Country Code', 
                                  'Indicator Name', 'Indicator Code'],
                         var_name='Year',
                         value_name='Rural Value')
df_electricity = df_electricity.melt(id_vars=['Country Name', 
                                              'Country Code', 
                                              'Indicator Name', 
                                              'Indicator Code'],
                                     var_name='Year',
                                     value_name='Electricity Value')
df_rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Rural Value
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,1960,49.224
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,1960,91.779
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,1960,89.565
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,1960,69.295
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,1960,41.550

In [17]:
# TODO: drop any columns from the data frames that aren't needed
df_rural = df_rural.drop(labels=['Indicator Name', 'Indicator Code'],
                         axis=1)
df_electricity = df_electricity.drop(labels=['Indicator Name', 
                                             'Indicator Code'], axis=1)

In [26]:
# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year
df_combined = df_rural.merge(df_electricity)

# TODO: sort the results by country and then by year
df_combined = df_combined.sort_values(['Country Name', 'Year'])

df_combined.head()

     Country Name Country Code  Year  Rural Value  Electricity Value
1     Afghanistan          AFG  1960       91.779                NaN
265   Afghanistan          AFG  1961       91.492                NaN
529   Afghanistan          AFG  1962       91.195                NaN
793   Afghanistan          AFG  1963       90.890                NaN
1057  Afghanistan          AFG  1964       90.574                NaN